In [ ]:
import sys
print(sys.version)

3.10.12 (main, Sep 11 2024, 15:47:36) [GCC 11.4.0]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
os.chdir('/content/drive/My Drive/KURS_CALISMALARIM')

!pwd # bize kodun çıktısını dosya yolu olarak veren kod blogudur.

/content/drive/My Drive/KURS_CALISMALARIM

In [ ]:
# Print komutu çıktıyı göstermeye yarayan komuttur.

print("Cemil")

Cemil

In [ ]:
# \n fonksiyonu c++ 'daki ln komutu gibi sonraki yazılan komutu aşağı satıra yazar.

print("Cemil\nİlyas\nGelişim\nÜniversitesi\nöğrencisidir")

Cemil
İlyas
Gelişim
Üniversitesi
öğrencisidir

In [ ]:
# \t komutu ise yazılan ifadeler arası boşluk bıraktıran komuttur (4 adet boşluk)

print("Cemil\tİlyas\tGelişim\tÜniversitesi\tÖğrencisidir")

Cemil	İlyas	Gelişim	Üniversitesi	Öğrencisidir

In [ ]:
# sep komutu (boşluk olan kısımlara gelicek ifadenin seçimini boşluk olan kısıma yerleştirir)

print("Cemil","İlyas","İstanbulda","yaşamaktadır", sep = "\n")

Cemil
İlyas
İstanbulda
yaşamaktadır

In [ ]:
#  * komutu (boşluk koymaya yarar)

print(*"3579")

3 5 7 9

In [ ]:
#  (sep) ve  (*) komutu kullanımı

print(*"TBMM", sep = ".")

T.B.M.M

In [ ]:
print(*"PolisDoktorMühendis", sep = ",")

P,o,l,i,s,D,o,k,t,o,r,M,ü,h,e,n,d,i,s

In [ ]:
print(*"Polis","Doktor","Mühendis", sep = ",")

P,o,l,i,s,Doktor,Mühendis

In [ ]:
# .format komutu ise string ifadenin içine (int,float vb.) gibi komutları atayabilen komuttur.

print("{} {} {}" .format("Cemil","İlyas",240118233))

Cemil İlyas 240118233

In [ ]:
# Aynı komutun içinde parantezler içine başlangıc sırası verilerek eşleştirme yapabiliriz.

print("{2} {0} {1}".format("İlyas",240118233,"Cemil"))

Cemil İlyas 240118233

In [ ]:
# Print Komutu ile bir değişkene atılan verinin okunması
import pandas as pd

data = {"Çalışanlar": ["Cemil","Furkan","Halil"], "Mevki": ["Müdür","Yardımcı","Çalışan"], "Maaş":[24.000,20.000,15.000]}
data = pd.DataFrame(data)
print(data)

  Çalışanlar     Mevki  Maaş
0      Cemil     Müdür  24.0
1     Furkan  Yardımcı  20.0
2      Halil   Çalışan  15.0

In [ ]:
data = data.set_index("Çalışanlar")
print(data)

               Mevki  Maaş
Çalışanlar
Cemil          Müdür  24.0
Furkan      Yardımcı  20.0
Halil        Çalışan  15.0

In [ ]:
data.head(1)

            Mevki  Maaş
Çalışanlar
Cemil       Müdür  24.0